body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.click {
  opacity: 0;
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.748); */
  background-color: #ff5838;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  transform: translate(-50%, -50%);
  color: white;
  font-family: rejoy;
}
.page1 {
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  position: relative;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: brightness(20%); */
}
.content {
  height: 200vh;
  background-color: #f0f0f0;
}
@font-face {
  font-family: rejoy;
  src: url(source/rejoy.woff2);
}
@font-face {
  font-family: rejoy2;
  src: url(source/rejoy2.woff2);
}

div {
  text-align: left;
}
nav {
  color: white;
  width: 93%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 2.8vw;
  align-items: center;
  font-family: rejoy2;
  font-size: 1.4vw;
  z-index: 200;
}
#menu,
.tva {
  cursor: pointer;
}

.page1content {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 0, 0, 0.06);
}

.page2 {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
}
.headline {
  position: absolute;
  font-size: 27vw;
  color: rgba(255, 255, 255, 0.957);
  font-family: rejoy;
  left: 50%;
  bottom: -3.8%;
  transform: translateX(-50%);
  cursor: default;
  display: flex;
  z-index: 200;
  pointer-events: none;
}
.headline span {
  display: inline-block;
}
#menubar {
  height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #edece7;
  z-index: 200;
  overflow: hidden;
}
.reelbox {
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  background-color: black;
  z-index: 202;
  overflow: hidden;
}
